*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla";

}

.App{
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  
}

.logo{
  display: flex;
  gap: 10px;

}

.logo-descripcion{
  align-self: flex-end;
}

.logo-imagen{
  width: 50px;
}


.titulo-logo{
  font-size: 15px;
}

.fundacoven{
  font-size: 12px;
}

.border{
  border: 1px solid red;
}

